/* http://stackoverflow.com/questions/15935837/how-to-display-a-range-input-slider-vertically */
input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

body
{
    background-color:darkgrey;
}

input,button
{
    border-radius:5px;
}
