/* http://stackoverflow.com/questions/15935837/how-to-display-a-range-input-slider-vertically */
input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

body
{
    background-color:darkgrey;
    background-image:url(screen.png);
    background-repeat:no-repeat;
}

input,button
{
    border-radius:5px;
}


.yel,.yel_des
{
background-image:url(theme/btn-yel-des.png);
}

.blu,.blu_des
{
background-image:url(theme/btn-blu-des.png);
}

.blu,.yel,.blu_sel,.blu_des,.yel_sel,.yel_des
{
height:46px;
width:34px;
font-size:0;
border-width:0;
margin-right:3px;
}
.yel_sel
{
background-image:url(theme/btn-yel-sel.png);
}

.blu_sel
{
background-image:url(theme/btn-blu-sel.png);
}

.ply,.ply_sel,.ply_des
{
background-image:url(theme/btn-ply-des.png);
border-width:0;
width:48px;
height:24px;
font-size:0;
}
.ply_sel
{
background-image:url(theme/btn-ply-sel.png);

}

.chn
{
background-image:url(theme/btn-chn-des.png);
border-width:0;
width:99px;
height:19px;
margin-right:4px;
}

.smb
{
width:32px;
height:20px;
}

.smt
{
width:30px;
height:12px;

}
